*{
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
  
}

.tittle h1{
  padding: 20px 0;
  text-align: center;
  font-size: 2.9em;
}

nav ul li{
  float: left;
  list-style-type: none;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-left: 50px;

}

.contenedor{
  width: 90%;
  margin: 1.6em auto;
  display: grid;
  gap: 1.6em;
  grid-template-columns: repeat(5,1fr);
}

.contenedor >.header,
.contenedor>.contenido,
.contenedor>.sidebar,
.contenedor>.footer,
.contenedor> div{
  background-image: linear-gradient(180deg, #f7ff64 0%, #f458ff 100%);
  padding: 20px;
  border-radius: 9px;
}

.contenedor> .header , .contenedor .footer{
  grid-column: 1/6;
  background: rgb(27, 27, 27);
  color: white;
  
}

.contenedor .contenido{
  grid-column: span 3;
}

.contenedor .sidebar{
  grid-column: span 2;

  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img{
  width: 80%;
  margin: 2% 10%;
  border-radius: 15px;
  text-align: center;
}
.sidebar div p{
  text-align: center;
  width: 80%;
  margin: 0% 10%;
}
.article{
  background: #ffffff;
  padding: 20px;
  margin-top: 5%;
  color: rgb(0, 0, 0);
  font-family:Georgia, 'Times New Roman', Times, serif
}
.contenido{
  background-color: rgb(255, 255, 255);
}

.sidebar div{
  padding: 1% 1% 3% 1%;
  background-color: white;
  border-radius: 10px;
  margin: 3% 0px;
  width: 90%;
}
@media screen and (max-width:768px){
  .header{
    text-align: center;
  }

  .contenedor .contenido{
    grid-column: 1/-1;
  }

  .contenedor .sidebar{
    grid-column: 1/-1;
  }
  .sidebar p{
    text-align: center;
  }
  .sidebar div img{
    margin: 5% 10% 0% 10%;
  }
}